
body, html{
  margin: 0;
  /* padding: 0; */
  background-color: #f3f8fe !important;
}

.top-bar{
  background-color: black;
  height: 80px;
  width: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#xperience:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.logo-main{
  font-size: 1.8rem !important;
  letter-spacing: 0.4rem;
}
.name{
  position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  text-decoration: none;
  list-style: none;
  /* text-align: center;
  justify-content: center; */
}
.name > li{
    display:inline-block;
}
.first-item{
   margin-left: 1350px;
   margin-top: 5px;
}

.list-items{
  margin-left: 10px;
}


.cards{
  width:450px;
  height:600px;
  display: inline-block;
  border-radius: 5%;
  background-color:#FFFBF5;
  margin-left: 530px;
  margin-top: 70px;
}



.card-title{
position: absolute;
margin-top: 80px !important;
margin-left: 185px;
display: inline-block;
font-size: 3rem;
color: black;
font-family: 'Montserrat', sans-serif;
}

form{
  color: black;
  display: block;
  margin-left: 90px;
  margin-top: 250px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.form-contact>button{
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-left: ;
  font-size: 1.5rem;
}



.password-bar{
  position: relative;
  margin-left: -30px;
}

.your-bookings{
  margin-left: 60px;
  margin-top: -220px;
  font-size: 2.5rem;




}





.empty-space{
margin-top: 600px;
}
